main{
  margin-top: 10px;
}
.cam{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.cam > .containers {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.oculto{
  display: none !important;
}